/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-light-1: #faf9f9;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: -webkit-gradient(linear, left top, right bottom, from(var(--color-primary-light)), to(var(--color-primary-dark)));
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  color: inherit;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-right: -3.25rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: var(--color-grey-light-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
}

.user-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
}

.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}

.user-nav__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2);
}

.user-nav__notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  position: absolute;
  top: 1.5rem;
  color: #fff;
  right: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.side-nav__item {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;
  position: relative;
}

.side-nav__item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s, -webkit-transform 0.2s;
  transition: width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s, -webkit-transform 0.2s;
}

.side-nav__item:hover:before, .side-nav__item--active::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  width: 100%;
}

.side-nav__item--active::before {
  background-color: var(--color-primary-light);
}

.side-nav__link:link, .side-nav__link:visited {
  color: var(--color-grey-light-2);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 10;
}

.side-nav__icon {
  width: 1.75rem;
  height: 1.75rem;
  margin-right: 2rem;
  fill: currentColor;
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery__photo {
  width: 100%;
}

.overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px soild var(--color-grey-light-2);
}

.overview__heading {
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem;
  font-weight: 300;
}

.overview__stars {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overview__icon-star, .overview__icon-location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}

.overview_icon-location {
  margin-right: 0.5rem;
}

.overview__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

.overview__rating {
  background-color: var(--color-primary);
  margin-left: 3rem;
  padding: 0 2.25rem;
  color: #fff;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overview__rating-average {
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: -3px;
}

.overview__rating-count {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.btn-inline {
  font-size: inherit;
  color: var(--color-primary);
  border: none;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-inline:hover {
  color: var(--color-grey-dark-1);
}

.btn-inline:focus {
  outline: none;
  -webkit-animation: pulsate 1s infinite;
          animation: pulsate 1s infinite;
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scaleY(1.05);
            transform: scaleY(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@keyframes pulsate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  50% {
    -webkit-transform: scaleY(1.05);
            transform: scaleY(1.05);
    -webkit-box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  -webkit-box-shadow: var(--shadow-dark);
          box-shadow: var(--shadow-dark);
  background-color: var(--color-grey-light-2);
  min-height: 50rem;
}

.header {
  height: 7rem;
  font-size: 1.4rem;
  background-color: #fff;
  border-bottom: 1px soild var(--color-grey-light-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  height: 80rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
